.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  margin: auto;
  text-transform: uppercase;
  font-size: x-large;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 350px;
  min-width: 200px;
}

input {
  height: 24px;
}

select {
  height: 30px;
}

.styleButton {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

img {
  width: 25px;
  height: 25px;
}

[type="checkbox"] {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
